{% extends 'layout.html' %}
{% block title %}Webtrica Books: Pakistan's Largest Online BookStores {% endblock %}
{% block head %} 

<link rel="stylesheet" href="catalog/signup.css">

{% endblock %}
{% block content %}
<link rel="stylesheet" href="catalog/signup.css">
    <div class="container">
    <div class="heading-section">
      <h2>Book Details</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="chand">

          <img src="/static/image/cache/catalog/80105-120x1877942.jpg" class="img-fluid" alt="">
        </div>

      </div>
      <div class="col-md-8">
        <div class="product-dtl">
          <div class="product-info">
            <div class="product-name">
              <a href="">

                <p>
                  Machines Discovery Explore Your World -
                  Inside Millitary
                </p>
              </a>
              <a href="">
                <p>By: Steve Parker</p>
              </a>
            </div>

            <div class="reviews-counter">
              <div class="rate">
                <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <!-- <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li> -->
                </ul>

              </div>
              <!-- <br>
              <br> -->
              <span>3 Reviews</span>
            </div>
            <div class="reads">
              <i class="fa fa-eye"></i> 
              <span>16</span>
              <span>Reads</span>
            </div>
            <!-- <div class="product-price-discount"><span>$39.00</span><span class="line-through">$29.00</span></div> -->
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>

          <div class="product-count">

            <a href="book-read.html" class="round-black-btn">Read Now</a>
            <a href="#" class="round-black-btn">Add To Library</a>
            <a href="#" class="round-black-btn">Add Rewiew</a>

          </div>
        </div>
      </div>
    </div>



  </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>



 {% endblock %}