{% extends 'layout.html' %} 
{% block title %}How to avail bank discounts{% endblock %}
  

<body class="information-information-33 layout-1">

  <div id="campaign_banner" class="campaign_banner">
    <a href="how-to-avail-bank-discounts.html">
      <img style="display: block !important;" src="/static/image/catalog/Ahmed%20Ecom/24-03-2022%20Web%20Header7942.gif" alt=""
        class="img-responsive campaign_image" />
    </a>
  </div>
  <nav id="top">
    <div class="container">
      <div id="top-links" class="nav">
        <ul class="list-inline pull-left">


          <li><a href="index96c4.html?route=information/request_a_book"><img height="35" width="106"
                src="/static/image/cache/catalog/Ecom/Logo/IABN-1-106x357942.jpg"></a></li>
        </ul>
        <ul class="list-inline pull-right">
          <li><a href="#"><img height="23" src="/static/image/icons/pk-flat-large.png"></a></li>
          <li><a href="index2724.php?route=information/contact"> <img height="18" src="/static/image/icons/phoneB.png"></a>
            <span class="hidden-xs hidden-sm hidden-md">03111444282</span></li>

          <li class="ct-language" id="google_translate_element">
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="res-menu" class="responsive-menu nav-container1 container">
    <div class="nav-responsive">
      <div class="expandable col-xs-2 mobile-menu-button">
        <i class="fa fa-bars"></i>
      </div>
      <div class="header-logo col-xs-7">
        <div id="logo">
          <a href="index.html"><img src="/static/image/cache/catalog/Ecom/Abdul%20Samad/logo/logo-250x677942.png"
              title="Webtrica Books" alt="Webtrica Books" class="img-responsive" /></a>
        </div>
      </div>
      <div class="col-xs-3" style="padding-right: 0; padding-left: 0; padding-top:15px;">
        <div class="dropdown  myaccountt">
          <a href="indexe223.php?route=account/login" title="Hello, Sign In" class="">
            <img src="/static/image/icons/user-small-white6654.png?v1" style="width:27px; margin-top:7px;">
            <span class="hidden-xs hidden-sm hidden-md">Hello, Sign In</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right myaccount-menu">

          </ul>
        </div>
        <div class="header-cart">
          <div class="cart btn-group btn-block">
            <button type="button" data-toggle="dropdown" data-loading-text="Loading..."
              class="btn btn-inverse btn-block btn-lg dropdown-toggle">
              <img class="hidden-xs" height="23" src="/static/image/cart-smallB.png">
              <img class="visible-xs" src="/static/image/icons/cart-small-mobile-white6654.png?v1"
                style="width:27px; margin-top:7px;">
              <span class="cart-total-mobile visible-xs">(0)</span>
              <span class="hidden-xs cart-total">(0) items</span>
            </button>
            <ul class="dropdown-menu pull-right cart-menu">
              <li>
                <p class="text-center">Your shopping cart is empty!</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <ul class="main-navigation">
      <li><a href="fiction">Fiction</a>
        <ul>
          <li>
            <a href="fiction/Fiction-And-Literature" class="activSub">Fiction &amp; Literature</a>
            <ul class="col1">
              <li>
                <a href="fiction/Fiction-And-Literature/regional-fiction">Regional Fiction</a>
              </li>
              <li>
                <a href="fiction/Fiction-And-Literature/romance-love-stories">Romance &amp; Love Stories</a>
              </li>
              <li>
                <a href="fiction/Fiction-And-Literature/film-television-tie-in">Film &amp; Television Tie In</a>
              </li>
              <li>
                <a href="fiction/Fiction-And-Literature/mystery">Mystery</a>
              </li>
              <li>
                <a href="fiction/Fiction-And-Literature/humor">Humor</a>
              </li>
              <li>
                <a href="fiction/Fiction-And-Literature/historical-fiction">Historical Fiction</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="fiction/Classics-And-Literature" class="activSub">Classics &amp; Literature</a>
            <ul class="col1">
              <li>
                <a href="fiction/Classics-And-Literature/plays-drama">Plays &amp; Drama</a>
              </li>
              <li>
                <a href="fiction/Classics-And-Literature/performing-arts">Performing Arts</a>
              </li>
              <li>
                <a href="fiction/Classics-And-Literature/literature">Literature</a>
              </li>
              <li>
                <a href="fiction/Classics-And-Literature/humor">Humor</a>
              </li>
              <li>
                <a href="fiction/Classics-And-Literature/philosophy-philosophers">Philosophy &amp; Philosophers</a>
              </li>
              <li>
                <a href="fiction/Classics-And-Literature/historical">Historical</a>
              </li>
              <li>
                <a href="fiction/Classics-And-Literature/poetry">Poetry</a>
              </li>
              <li>
                <a href="fiction/Classics-And-Literature/humor">Humor</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="fiction/young-adults" class="activSub">Young Adults</a>
            <ul class="col1">
              <li>
                <a href="fiction/young-adults/mysteries">Mysteries</a>
              </li>
              <li>
                <a href="fiction/young-adults/biographies">Biographies</a>
              </li>
              <li>
                <a href="fiction/young-adults/sports-hobbies">Sports &amp; Hobbies</a>
              </li>
              <li>
                <a href="fiction/young-adults/young-adults">Young Adults</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="fiction/comics-graphic-novels" class="activSub">Comics &amp; Graphic Novels</a>
            <ul class="col1">
              <li>
                <a href="fiction/comics-graphic-novels/superman">Superman</a>
              </li>
              <li>
                <a href="fiction/comics-graphic-novels/dc">DC</a>
              </li>
              <li>
                <a href="fiction/comics-graphic-novels/lego">LEGO</a>
              </li>
              <li>
                <a href="fiction/comics-graphic-novels/team-muhafiz">Team Muhafiz</a>
              </li>
              <li>
                <a href="fiction/comics-graphic-novels/sandman">Sandman</a>
              </li>
              <li>
                <a href="fiction/comics-graphic-novels/marvel">Marvel</a>
              </li>
              <li>
                <a href="fiction/comics-graphic-novels/sheeba-detectives">Sheeba Detectives</a>
              </li>
              <li>
                <a href="fiction/comics-graphic-novels/kung-fu-panda">Kung Fu Panda</a>
              </li>
              <li>
                <a href="fiction/comics-graphic-novels/star-wars">Star Wars</a>
              </li>
              <li>
                <a href="fiction/comics-graphic-novels/spiderman">SpiderMan</a>
              </li>
              <li>
                <a href="fiction/comics-graphic-novels/asterix">Asterix</a>
              </li>
              <li>
                <a href="fiction/comics-graphic-novels/avengers">Avengers</a>
              </li>
              <li>
                <a href="fiction/comics-graphic-novels/batman">Batman</a>
              </li>
              <li>
                <a href="fiction/comics-graphic-novels/tintin">TinTin</a>
              </li>
              <li>
                <a href="fiction/comics-graphic-novels/game-of-thrones">Game Of Thrones</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="non-fiction">Non Fiction</a>
        <ul>
          <li>
            <a href="non-fiction/innovation-and-technology-books">Innovation and Technology</a>
          </li>
          <li>
            <a href="non-fiction/health-and-fitness" class="activSub">Health and Fitness</a>
            <ul class="col2">
              <li>
                <a href="non-fiction/health-and-fitness/diet-weight">Diet &amp; weight</a>
              </li>
              <li>
                <a href="non-fiction/health-and-fitness/fitness-dieting">Fitness &amp; Dieting</a>
              </li>
              <li>
                <a href="non-fiction/health-and-fitness/nutrition">Nutrition</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="non-fiction/biographies-and-memoir" class="activSub">Biographies</a>
            <ul class="col2">
              <li>
                <a href="non-fiction/biographies-and-memoir/Autobiographies">Autobiographies</a>
              </li>
              <li>
                <a href="non-fiction/biographies-and-memoir/biographies">Biographies</a>
              </li>
              <li>
                <a href="non-fiction/biographies-and-memoir/memoirs">Memoirs</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="non-fiction/business-management" class="activSub">Business &amp; Management</a>
            <ul class="col2">
              <li>
                <a href="non-fiction/business-management/business-economics">Business &amp; Economics</a>
              </li>
              <li>
                <a href="non-fiction/business-management/entrepreneurship-business-strategy">Entrepreneurship &amp;
                  Business Strategy</a>
              </li>
              <li>
                <a href="non-fiction/business-management/management-skills">Management Skills</a>
              </li>
              <li>
                <a href="non-fiction/business-management/supply-chain-management">Supply chain management</a>
              </li>
              <li>
                <a href="non-fiction/business-management/insurance">Insurance</a>
              </li>
              <li>
                <a href="non-fiction/business-management/sales-marketing">Sales &amp; Marketing</a>
              </li>
              <li>
                <a href="non-fiction/business-management/banking">Banking</a>
              </li>
              <li>
                <a href="non-fiction/business-management/team-management">Team Management</a>
              </li>
              <li>
                <a href="non-fiction/business-management/law">Law</a>
              </li>
              <li>
                <a href="non-fiction/business-management/finance-investment-stocks">Finance, Investment &amp; Stocks</a>
              </li>
              <li>
                <a href="non-fiction/business-management/management-leadership">Management &amp; Leadership</a>
              </li>
              <li>
                <a href="non-fiction/business-management/time-management">Time Management</a>
              </li>
              <li>
                <a href="non-fiction/business-management/business-finance">Business &amp; Finance</a>
              </li>
              <li>
                <a href="non-fiction/business-management/media-studies">Media Studies</a>
              </li>
              <li>
                <a href="non-fiction/business-management/project-management">Project Management</a>
              </li>
              <li>
                <a href="non-fiction/business-management/human-resource">Human Resource</a>
              </li>
              <li>
                <a href="non-fiction/business-management/business-writing-communication">Business Writing &amp;
                  Communication</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="non-fiction/coffee-table" class="activSub">Coffee Table</a>
            <ul class="col2">
              <li>
                <a href="non-fiction/coffee-table/decoration">Decoration</a>
              </li>
              <li>
                <a href="non-fiction/coffee-table/home-garden">Home &amp; Garden</a>
              </li>
              <li>
                <a href="non-fiction/coffee-table/textiles">Textiles</a>
              </li>
              <li>
                <a href="non-fiction/coffee-table/photography">Photography</a>
              </li>
              <li>
                <a href="non-fiction/coffee-table/graphic-art">Graphic Art</a>
              </li>
              <li>
                <a href="non-fiction/coffee-table/automotive">Automotive</a>
              </li>
              <li>
                <a href="non-fiction/coffee-table/graphic-designing">Graphic Designing</a>
              </li>
              <li>
                <a href="non-fiction/coffee-table/fashion">Fashion</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="non-fiction/reference" class="activSub">Reference</a>
            <ul class="col2">
              <li>
                <a href="non-fiction/reference/dictionaries-thesaurus">Dictionaries &amp; Thesaurus</a>
              </li>
              <li>
                <a href="non-fiction/reference/science">Science</a>
              </li>
              <li>
                <a href="non-fiction/reference/law">Law</a>
              </li>
              <li>
                <a href="non-fiction/reference/travel-guides">Travel Guides</a>
              </li>
              <li>
                <a href="non-fiction/reference/reference-language">Language</a>
              </li>
              <li>
                <a href="non-fiction/reference/test-preparation">Test Preparation</a>
              </li>
              <li>
                <a href="non-fiction/reference/travelogues">Travelogues</a>
              </li>
              <li>
                <a href="non-fiction/reference/quotations">Quotations</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="non-fiction/cooking-food-drink" class="activSub">Cooking, Food &amp; Drink</a>
            <ul class="col2">
              <li>
                <a href="non-fiction/cooking-food-drink/cook-books">Cook Books</a>
              </li>
              <li>
                <a href="non-fiction/cooking-food-drink/regional-cooking">Regional Cooking</a>
              </li>
              <li>
                <a href="non-fiction/cooking-food-drink/cooking-methods">Cooking Methods</a>
              </li>
              <li>
                <a href="non-fiction/cooking-food-drink/international-cuisine">International Cuisine</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="non-fiction/books-on-religion-and-spirituality" class="activSub">Religion &amp; Spirituality</a>
            <ul class="col2">
              <li>
                <a href="non-fiction/books-on-religion-and-spirituality/christianity">Christianity</a>
              </li>
              <li>
                <a href="non-fiction/books-on-religion-and-spirituality/ramadan-essentials">Ramadan Essentials</a>
              </li>
              <li>
                <a href="non-fiction/books-on-religion-and-spirituality/islam">Islam</a>
              </li>
              <li>
                <a href="non-fiction/books-on-religion-and-spirituality/sufism">Sufism </a>
              </li>
              <li>
                <a href="non-fiction/books-on-religion-and-spirituality/world-religions">World Religions</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="non-fiction/books-on-self-help" class="activSub">Self Help</a>
            <ul class="col2">
              <li>
                <a href="non-fiction/books-on-self-help/motivation">Motivation</a>
              </li>
              <li>
                <a href="non-fiction/books-on-self-help/inspirational">Inspirational</a>
              </li>
              <li>
                <a href="non-fiction/books-on-self-help/practice-motivational">Practice &amp; Motivational</a>
              </li>
              <li>
                <a href="non-fiction/books-on-self-help/families-relationships">Families &amp; Relationships</a>
              </li>
              <li>
                <a href="non-fiction/books-on-self-help/journals">Journals</a>
              </li>
              <li>
                <a href="non-fiction/books-on-self-help/motivational">Motivational</a>
              </li>
              <li>
                <a href="non-fiction/books-on-self-help/psychology-counseling">Psychology &amp; Counseling</a>
              </li>
              <li>
                <a href="non-fiction/books-on-self-help/note-books">Note Books</a>
              </li>
              <li>
                <a href="non-fiction/books-on-self-help/personal-development">Personal Development</a>
              </li>
              <li>
                <a href="non-fiction/books-on-self-help/relationships">Relationships</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="non-fiction/books-on-sports-and-entertainment" class="activSub">Sports &amp; Entertainment</a>
            <ul class="col2">
              <li>
                <a href="non-fiction/books-on-sports-and-entertainment/film-music">Film &amp; Music</a>
              </li>
              <li>
                <a href="non-fiction/books-on-sports-and-entertainment/football">Football</a>
              </li>
              <li>
                <a href="non-fiction/books-on-sports-and-entertainment/hobbies">Hobbies</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="non-fiction/in-the-news">In the News</a>
          </li>
        </ul>
      </li>
      <li><a href="children-books">Children's Books</a>
        <ul>
          <li>
            <a href="children-books/educational-products">Educational Products</a>
          </li>
          <li>
            <a href="children-books/9-12-years-juvenile" class="activSub">9-12 years (juvenile)</a>
            <ul class="col3">
              <li>
                <a href="children-books/9-12-years-juvenile/general-knowledge">General Knowledge </a>
              </li>
              <li>
                <a href="children-books/9-12-years-juvenile/islamic-books">Islamic Books</a>
              </li>
              <li>
                <a href="children-books/9-12-years-juvenile/activity-books">Activity Books </a>
              </li>
              <li>
                <a href="children-books/9-12-years-juvenile/home-learning">Home Learning</a>
              </li>
              <li>
                <a href="children-books/9-12-years-juvenile/story-books">Story Books</a>
              </li>
              <li>
                <a href="children-books/9-12-years-juvenile/classics">Classics</a>
              </li>
              <li>
                <a href="children-books/9-12-years-juvenile/juvenile">Juvenile</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="children-books/home-learning" class="activSub">Home Learning</a>
            <ul class="col3">
              <li>
                <a href="children-books/home-learning/6-9-years-pre-school">6-9 Years (Pre-School)</a>
              </li>
              <li>
                <a href="children-books/home-learning/0-3-years-infant">0-3 Years (Infant)</a>
              </li>
              <li>
                <a href="children-books/home-learning/3-6-years-toddlers">3-6 Years (Toddlers)</a>
              </li>
              <li>
                <a href="children-books/home-learning/9-12-years-juvenile">9-12 Years (Juvenile)</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="children-books/0-3-years-infant" class="activSub">0-3 years (Infant)</a>
            <ul class="col3">
              <li>
                <a href="children-books/0-3-years-infant/picture-books">Picture Books</a>
              </li>
              <li>
                <a href="children-books/0-3-years-infant/bath-books">Bath Books</a>
              </li>
              <li>
                <a href="children-books/0-3-years-infant/interactive-books">Interactive books </a>
              </li>
              <li>
                <a href="children-books/0-3-years-infant/early-learning">Early Learning</a>
              </li>
              <li>
                <a href="children-books/0-3-years-infant/flash-cards">Flash Cards</a>
              </li>
              <li>
                <a href="children-books/0-3-years-infant/board-books">Board Books</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="children-books/3-6-years-toddlers" class="activSub">3-6 years (Toddlers)</a>
            <ul class="col3">
              <li>
                <a href="children-books/3-6-years-toddlers/toys">Toys</a>
              </li>
              <li>
                <a href="children-books/3-6-years-toddlers/story-books">Story Books </a>
              </li>
              <li>
                <a href="children-books/3-6-years-toddlers/home-learning">Home Learning</a>
              </li>
              <li>
                <a href="children-books/3-6-years-toddlers/nursery-rhymes">Nursery Rhymes</a>
              </li>
              <li>
                <a href="children-books/3-6-years-toddlers/activity-books">Activity Books</a>
              </li>
              <li>
                <a href="children-books/3-6-years-toddlers/colouring-books">Colouring Books </a>
              </li>
              <li>
                <a href="children-books/3-6-years-toddlers/sticker-books">Sticker Books</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="children-books/6-9-years-pre-school" class="activSub">6-9 years (Pre-School)</a>
            <ul class="col3">
              <li>
                <a href="children-books/6-9-years-pre-school/general-knowledge">General Knowledge </a>
              </li>
              <li>
                <a href="children-books/6-9-years-pre-school/interactive-books">Interactive Books</a>
              </li>
              <li>
                <a href="children-books/6-9-years-pre-school/home-learning">Home Learning -</a>
              </li>
              <li>
                <a href="children-books/6-9-years-pre-school/sticker-books">Sticker Books</a>
              </li>
              <li>
                <a href="children-books/6-9-years-pre-school/horror">Horror </a>
              </li>
              <li>
                <a href="children-books/6-9-years-pre-school/puzzles">Puzzles </a>
              </li>
              <li>
                <a href="children-books/6-9-years-pre-school/story-books">Story Books</a>
              </li>
              <li>
                <a href="children-books/6-9-years-pre-school/islamic-books">Islamic Books</a>
              </li>
              <li>
                <a href="children-books/6-9-years-pre-school/activity-books">Activity Books</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="urdu-books">Urdu Books</a>
        <ul>
          <li>
            <a href="urdu-books/travelogues">Travelogues</a>
          </li>
          <li>
            <a href="urdu-books/urdu-adab">Urdu Adab</a>
          </li>
          <li>
            <a href="urdu-books/afsanay">Afsanay</a>
          </li>
          <li>
            <a href="urdu-books/literature">Literature</a>
          </li>
          <li>
            <a href="urdu-books/children-s-urdu-books">Children's Urdu Books</a>
          </li>
          <li>
            <a href="urdu-books/regional-poetry">Regional Poetry</a>
          </li>
          <li>
            <a href="urdu-books/biographies">Biographies</a>
          </li>
          <li>
            <a href="urdu-books/short-stories">Short Stories</a>
          </li>
          <li>
            <a href="urdu-books/islamic-studies">Islamic Studies</a>
          </li>
          <li>
            <a href="urdu-books/current-affairs">Current Affairs</a>
          </li>
        </ul>
      </li>
      <li><a href="online-book-bazar">Online Book Bazar</a>
        <ul>
          <li>
            <a href="online-book-bazar/rp-current-affairs">RP - Current Affairs</a>
          </li>
          <li>
            <a href="online-book-bazar/rp-cooking-food-drink">RP - Cooking, Food &amp; Drink</a>
          </li>
          <li>
            <a href="online-book-bazar/rp-coffee-table">RP - Coffee Table</a>
          </li>
          <li>
            <a href="online-book-bazar/ReducePriceSelfHelpBooks">RP - Self Help</a>
          </li>
          <li>
            <a href="online-book-bazar/rp-fiction-literature">RP - Fiction &amp; Literature</a>
          </li>
          <li>
            <a href="online-book-bazar/ReducePriceChildrensBooks">RP - Children's Books</a>
          </li>
          <li>
            <a href="online-book-bazar/rp-biographies-memoir-and-history">RP - Biographies &amp; Memoir And History</a>
          </li>
          <li>
            <a href="online-book-bazar/rp-religion-spirituality">RP - Religion &amp; Spirituality</a>
          </li>
          <li>
            <a href="online-book-bazar/rp-business-management">RP - Business &amp; Management</a>
          </li>
          <li>
            <a href="online-book-bazar/rp-health-fitness">RP - Health &amp; Fitness</a>
          </li>
        </ul>
      </li>
      <li><a href="new-arrivals-2022">New Arrivals 2022</a>
        <ul>
          <li>
            <a href="new-arrivals-2022/january">January</a>
          </li>
          <li>
            <a href="new-arrivals-2022/february-2022">February</a>
          </li>
        </ul>
      </li>
      <li class="ct-language" id="google_translate_element">
      </li>

      <li><a href="index96c4.html?route=information/request_a_book">Import A Book</a></li>
      <li><a href="index4dd2.php?route=account/voucher">Send E-Gift Card</a></li>


    </ul>
  </div>
  {% block content %}

  <div class="container">
    <ul class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li><a href="how-to-avail-bank-discounts.html">How to avail bank discounts</a></li>
    </ul>
    <div class="row">
      <div id="content" class="col-sm-12">
        <h1 class="page-title">How to avail bank discounts</h1>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img
            src="/static/image/catalog/Ahmed%20Ecom/Bank%20Discounts%20details-01%20(1).jpg" style="width: 100%;"><br></p>
      </div>
    </div>
  </div>
  {% endblock %}